<mat-sidenav-container class="mat-sidenav-container">
  <mat-sidenav [mode]="mode" [opened]="isOpened">
    <mat-card class="mat-card">
      <div mat-card-header>
        <img mat-card-image src="app/assets/images/logo.png">
        <mat-card-title>Esri TypeScript</mat-card-title>
      </div>
      <mat-card-content>
        <p>
          Startup Application for ArcGIS API for JavaScript with Angular 4 and material design
        </p>
      </mat-card-content>
    </mat-card>

    <mat-nav-list mat-nav-list>
      <a href="#" mat-list-item>
        <mat-icon class="material-icons">home</mat-icon>
        <span>Home</span>
      </a>
      <a href="#" mat-list-item>
        <i class="material-icons" >map</i>
        <span>Map</span>
      </a>
      <a href="#" mat-list-item>
        <i class="material-icons">show_chart</i>
        <span>Charts</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <ng-content></ng-content>

</mat-sidenav-container>